/*
	This stylesheet file contains the style for the webpage.
*/

/*Id's*/
#top {
	font-family: 'Fredericka the Great', cursive;
	color: white;
}

#search {
	margin-top: 0px;
	font-family: 'Sacramento', cursive;
	color: white;
}

#search a{
	font-size: 20px;
	color: white;
}

h6 {
	font-family: 'Fredericka the Great', cursive;
	color: white;
	
	margin-bottom: 7px;
}

#weatherList{
	font-family: 'Sacramento', cursive;
}

#weatherList .row{
	margin-bottom: 0px;
}
#inputField {
	margin-top: 0px;
}

#address {
	font-family: 'Fredericka the Great', cursive;
	font-size: 20px;
}

#onTop{
	background-size: cover;
	
	height: 110%;
	width: 110%;
  z-index: -1;
	
	top: -20px;
	left: -20px;
  right: 0;
	position: fixed;
	
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

/*Classes*/
.clickable{
	cursor: pointer;
}



